<!DOCTYPE html>
<html>
    <head>
        <title>Assignment11 Part2</title>
        <script src="assignment11-part2.js"></script>
    </head>
    <body>
        <h1>Your location is:</h1><br>
        <div class="location">London,UK</div>
        <h1>The temperature at your location is</h1>
        <div class="temp">34</div>
    </body>
</html>