<html>
    <head>
        <title>Assignment 11</title>
    </head>
    <body>
        <form method="POST" action="/addition">
            <h1>Simple Calculator</h1>
            <label>Enter a number</label>
            <input type="number" name="number1">
            <label>Enter a second number</label>
            <input type="number" name="number2">
            <label>Addition</label>
            <button onclick="sum">+</button> 
            <h1><%= sum %></h1>
            <a href="/assignment11-part2"><h1>Assignment11 Part2</h1></a><br>
            <a href="/projects">Projects page</a><br>
            <a href="/github">Github page</a><br>
            <a href="/bibliography">Bibliography page</a>


        </form>
    </body>
</html>